@import './base.css';
@import './trash.css';
@import './media.css';
@import './radio.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}
button {
  border: none;
}

.change_table_red {
  color: #5babf2 !important;
}

.change_table_green {
  color: #ffa445 !important;
}
